.modal {
  width: 500px;
  min-height: 300px;
  border: 1px solid black;
  z-index: 99999;
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  flex-direction: column;
  font-family: $font;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(74, 63, 77, 0.7);
  transition: 0.4s;
  z-index: 999;
}

.overlay-hidden {
  display: none;
}

.select-wrapper {
  display: none;
  width: 300px;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #6666ff;
  border-radius: 5px;
  position: absolute;
  transition: 0.4s;
  transform: translateY(40px);
}

.select-opened {
  display: flex;
}

.select-item {
  padding: 10px;
  background-color: #6666ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;
}

.doctor:hover {
  padding-left: 20px;
  background-color: white;
  color: #6666ff;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cross {
  color: #6666ff;
  font-size: 30px;
  cursor: pointer;
  transition: 0.4s;
}
.cross:hover{
  transform: rotate(90deg);
}

.select {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  background-color: #6666ff;
  border: none;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  text-align: left;
  padding: 0 20px;
  cursor: pointer;
  outline-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: white transparent transparent transparent;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-hidden {
  display: none;
}

.form-shown {
  display: flex;
}

.info-input{
  font-size: 14px;
  border:1px solid #6666ff;
  border-radius: 5px;
  padding: 5px;
  font-family: $font;
}
.info-input-comment{
  font-size: 14px;
  border:1px solid #6666ff;
  border-radius: 5px;
  padding: 5px;
}
.info-input-descript{
  margin: 10px 0 5px 0;
  font-size: 15px;
}
.submit-btn{
  margin: 10px auto 0 auto;
  display: block;
  padding: 10px 20px;
  background-color: #6666ff;
  border-radius: 9999px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  border-color: #6666ff;
}
.submit-btn:hover{
  color: #6666ff;
  background-color: white;
}
.card{
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  position: relative;
  transform: rotate(0.5deg);
  margin: 20px;
  box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, 0.3);
  font-family: $font;
}
.card-info{
  margin-bottom: 10px;
  font-size: 14px;
  color: black !important;
}
.card-info-hidden{
  display: none;
}
.show-more{
  text-decoration: underline;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 999999px;
  font-size: 12px;
  font-family: $font;
  color: black;
}
.delete-card{
  position: absolute;
  right: 10px;
  top:-5px;
  cursor: pointer;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: radial-gradient(white,6%,red);
  transition: 0.4s;

}
.delete-card:hover{
  top: -9px;
}
.delete-card:hover:after{
  height: 29px;
}
.delete-card:after{
  content:'';
  display: block;
  height: 25px;
  width: 2px;
  background: linear-gradient(white 5%,grey);
  position: absolute;
  z-index: -1;
  left: 30%;
  transform: translateX(-50%);
  transform: rotateZ(10deg);
  transition: 0.4s;
}