<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEDICAL SUPPORT</title>
    <link rel="stylesheet" href="./dist/css/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/hospital.png" type="image/png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="./dist/css/style.min.css">
</head>
<body>

{% include 'sections/1_main/main.html' %}

{% include 'sections/2_modal/modal.html' %}
</body>
<script src="./dist/js/all.min.js"></script>
</html>